* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Display", sans-serif;
  font-size: 16px;
}

.header {
  background-color: #c7caca;
  text-align: left;
}

.header > img {
  width: 250px;
  padding: 20px;
}

.container {
  display: flex;
}

.container > .menu {
  flex: 14%;
  background-color: #ea680c;
}

.container > .menu > ul {
  list-style: none;
}
.container > .menu > ul > li {
  line-height: 25px;
  margin: 20px;
}

.container > .menu > ul > li > a {
  text-decoration: none;
  color: #fff;
  transition: 1s;
}

.container > .menu > ul > li > a:hover {
  color: #aebbbb;
}

.container > .article {
  flex: 86%;
  padding: 35px;
}

.container > .article > .program {
  display: flex;
  flex-wrap: wrap;
}

.container > .article > .program > .box {
  padding: 30px;
  background-color: #efefef;
  flex: 43%; /* 86 / 2 = 43 (buat dua kolom makanya dibagi 2)*/
  margin: 1px;
}

.container > .article > .program > .box > h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.container > .article > .program > .box > .content {
  display: flex;
}

.container > .article > .program > .box > .content > .image {
  flex: 1;
}

.container > .article > .program > .box > .content > .image > img {
  width: 315px;
}

.container > .article > .program > .box > .content > .description {
  flex: 3;
  margin-left: 30px;
}

.container > .article > .program > .box > .content > .description > p {
  margin: 0;
  font-size: 14px;
  line-height: 28.5px;
}

.footer {
  background-color: #c7caca;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }

  .container > .menu {
    flex: none;
  }

  .container > .menu > ul {
    margin-left: 30px;
  }

  .container > .menu > ul > li {
    display: inline-block;
    padding: 10px 0;
    margin: 5px;
  }

  .container > .menu > ul > li > a {
    font-size: 12px;
  }

  .container > .article {
    padding: 0;
  }

  .container > .article > .program > .box {
    flex: 86%;
  }

  .container > .article > .program > .box > .content {
    display: block;
  }

  .container > .article > .program > .box > .content > .image {
    flex: none;
  }

  .container > .article > .program > .box > .content > .image > img {
    width: 100%;
  }

  .container > .article > .program > .box > .content > .description {
    flex: none;
    margin-left: 0;
  }

  .container > .article > .program > .box > .content > .description > p {
    margin-bottom: 0;
  }

  .footer {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    font-size: 12px;
  }
}
